*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 2rem;
}
p {
    font-size: 1rem;
}
img {
    max-width: 100%;
}

/*  HEADER*/
.parte-superiore{
    padding: 2rem;
}

.contenitore {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
}
.contenitore-flex {
    display: flex;
}

.parte-superiore {
    height: 5rem;
    background-color: rgba(24, 88, 206, 0.938);
}

/*  NAVIGAZIONE*/
.parte-navigazione {
    display: flex;
    justify-content: center;
}

/*  LOGO*/
.logo {
    width: 5rem;
    display: flex;
}

/*  LINK*/
.parte-navigazione {
    display: flex;
    margin: 0 .5rem;
    flex-grow: 1;
}

ul {
     list-style-type: none;
    display: flex;
    justify-content: center;
}
li {
    align-self: center;
    margin: 1rem;
}
a {
    color: white;
}

/*  LOGIN*/
.login {
    width: 6rem;
    height: 3rem;
    text-align: end;
    color: black;
    background-color: white;
    border-radius: 10rem;
    padding: 1rem;
    text-align: center;

}

/*  HERO*/
.hero {
    min-height: 500px;
    display: flex;
    align-items: center;
    background-image: url("../img/jumbo.png");
    background-size: 100%;
}


.colonna-hero {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.colonna-hero h2 {
    padding-bottom: 3rem;
}

.bottoni {
    display: flex;
    padding: 2rem;
    justify-content: center;

}

.login-mac {
    background-color: white;
    color: black;;
    height: 3rem;
    border-radius: 10rem;
    padding: .7rem;
    
}
.login-browser {
    background-color: black;
    color: white;
    height: 3rem;
    border-radius: 10rem;
    padding: .7rem;

}


/*  /HEADER*/

/* MAIN */

/*  SEZIONE MAIN*/

.sezione-main {
    padding: 2rem;
}
.riga {
    display: flex;
}
.colonna-grande {
    width: 45%;
    min-height: 300px;
}
.colonna-piccola {
    width: 35%;
    min-height: 100px;
    display: flex;
}
.sfondo {
    background-color: lightgray;
}

.colonna-unica {
    min-height: 500px;
    background-color: green;
}
    
.login-mac2{
        background-color: rgb(83, 85, 143);
        color: white;
        height: 3rem;
        border-radius: 10rem;
        padding: .7rem;
}
/* /MAIN */

/*  FOOTER */

footer {
    background-color: darkblue;
}
.colonna-footer1 {
    width: 30%;
    background-color: coral;
    min-height: 400px;
}
.colonna-footer2 {
    width: 70%;
    background-color: aqua;
    min-height: 400px;
    display: flex;
}
.col-footer {
    min-height: 400px;
    border: 1px dashed white;
    width: calc(100% / 4);
}
.parte-finale {
    border: 1px dashed white;
    min-height: 100px;
}
.parte-finale .contenitore {
    padding-top: 1rem;
    background-color: aqua;
}

/* /FOOTER */